/*聊天室按鈕*/
#floating-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #4e9fda;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 998;
}

#floating-button:hover {
  background-color: #3b7ab8;
}

#floating-button a .material-symbols-outlined {
    color: white;
}
/*右側欄*/
.Rightbar {
    z-index: 999;
  }
#day-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#day-buttons button {
    margin:5px;
}
.addedSpot::before {
    color: rgb(252, 143, 9);
    background-color: rgb(252, 143, 9);
    font-size: 24px;
}
.offcanvas-backdrop {
    display: none; /*移除bootstrap造成的背景暗化*/
}
.navbar-toggler {
    padding: 10px 15px; 
    font-size: 16px;
    width: auto; 
    height: auto; 
    background-color:#efcf1a;
}
.rightDiv{
    border-radius: 15px;
    background-color: #E0E0E0;
    margin-top: 10px;
    position: relative;
    height: 270px;
}
.btn-group {
    position: absolute;
    right: 0;
    top: 205px;
}
.btn-group > button {
  margin-right: 15px;
  border-radius: 15px;
  padding: 5px;
}
.trip-img{ /*行程封面圖片*/
    width: 320px;
    height: 180px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    margin-top: 10px;
}
.trip-date{
    position:relative;
    top:200px;
    right:72px;
}
.delDay {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/*景點時間選擇*/
.time_popup{
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    height: 85vh;
    width: 87vh;
    z-index: 9999; /*顯示在其他元素上 */
    display: none; /*不會直接顯示 */
    overflow-y: auto;
}
.time-content{
    height:100%;
    width:100%;
    padding-top: 20px;
}
.time-div{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #E0E0E0;
    border-radius: 15px;
    margin: 25px;
    width: 70%;
    height: 90px;
}
.time-div label {
    position: absolute;
    top: 50%;
    transform: translate(0% , -50%);
    left: 33%;
}
.radio-button{
    position: absolute;
    top: 50%;
    transform: translate(0% , -50%);
    left: 10%;
}
.Tsubmit-button{
    border-radius: 15px;
    position: absolute;
    left: 43%;
    padding: 6px;
}
/*行程插入景點*/
.submit-button{
    border-radius: 10px;
    left: 228px;
    top: 4px;
    position: relative;
}
.center-text {
  text-align: center;
}
.trip-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #E0E0E0;
    border-radius: 15px;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.trip-div p,
.trip-div select {
  display: flex;
  margin-right: 10px;
}
.tpopup-content{
    height:100%;
    width:100%;
}
.tourist_popup{
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    height: 85vh;
    width: 75vh;
    z-index: 9999; /*顯示在其他元素上 */
    display: none; /*不會直接顯示 */
    overflow-y: auto;
}
.trip-selector{
    width:35%;
    height:13%;
    margin-left: 85px;
}
.tpopup-close { 
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.p1{
    font-size: 25px;
    color: black;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.p2{
    font-size: 18px;
    color: #9D9D9D;
    padding-left: 20px;
    margin-top: 0px;
}
/*查看整個行程*/
.aPopup{
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    height: 85vh;
    width: 63vh;
    z-index: 9999; /*顯示在其他元素上 */
    display: none; /*不會直接顯示 */
    overflow-y: auto;
}
.aname-div{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #E0E0E0;
    border-radius: 15px;
    margin: 16px;
    width: 50%;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*景點一覽*/
.add_to_tourist{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #FF9224;
    color: white;
    font-size: 18px;
    height: 43px;
    width: 153px;
    padding-right: 4px;
}
.circle {
    border-radius: 50%;
    background-color: white; /* 更改顏色如需 */
    display: inline-block;
    margin-left: 5px; /* 調整margin如需 */
    width: 30px;
    height: 30px;
    text-align: center; /* 置中span */
    line-height: 30px; /* 置中span */
}
.circle-icon {
    font-size: 26px; /* 調整字體大小如需 */
    color: #FF9224; /* 調整字體顏色如需 */
  }
.place-info { /*主頁面景點與照片 */
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;/*滑鼠在容器上時變更滑鼠圖示 */
    width: 18%;/*佔據父容器寬度的19% */
    float: left;/*容器向左對齊 */
    margin-right: 2%;
    height: 200px;
    position: relative;
    background-color: white;
    border-radius: 17%;
}
/* .place-info:nth-child(5n) {
    margin-right: 0;
} */
.place-info .place-info-details {
    position: relative; 
    margin: 0;
    padding: 0;
}
.image-container{ /*主頁面照片容器 */
    margin: 0% 0% 0% 5%;
    padding: 0;
    height:70%;
    width:90%;
    position: relative; 
    padding-bottom: 56.75%; /*內邊距長對寬的比例，16:9 */
}
.place-info h3 { /*主頁面景點名稱 */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
}
.place-info img { /*主頁面照片 */
    overflow:hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:100%;
    width:100%;
}
.loading { /*未提供照片情況下的背景 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    background-color: #f5f5f5;
}
.popup { /*景點視窗 */
    position: fixed;
    top: 50%;
    left: 50%;
    height: 85vh;
    width: 107vh;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999; /*顯示在其他元素上 */
    display: none; /*不會直接顯示 */
    overflow-y: auto;
    border-radius: 20px;
}
.popup-content { /*景點視窗內容 */
    max-height: 80vh;
    text-align: center;
}
.popup-content .material-symbols-outlined{
    position: relative; 
    top: 5px;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #F0F0F0;
  position: absolute;
  right: 0;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #9D9D9D;
  border-radius: 15px;
}
.popup-close { /*視窗關閉鈕 */
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.place-image { /*視窗照片 */
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto; /* 將左右邊距設為自動，使其水平置中 */
}
.place-image::before {
    content: attr('未提供圖片'); /* 使用 alt 屬性中的文字 */
    position: absolute; /* 設置絕對位置 */
    top: 50%; /* 置中垂直方向 */
    left: 50%; /* 置中水平方向 */
    transform: translate(-50%, -50%); /* 調整位置 */
  }
.place-info-details { /*視窗資訊 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.place-info-rating,
.place-info-vicinity { /*視窗景點評價與地點 */
    display: inline-block;
    margin-bottom: 5px;
    font-size: 0.8em;
    margin-right: 10px;
}
.buttons-container button {
    border-radius: 15px;
    margin: 10px;
    background-color:#FFD306;
    text-align: center;
  }
/*左側欄*/

.Leftbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.Leftbar a:hover {
    color: #f1f1f1;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    margin-top: 10px;
}

.pfp {
    vertical-align: middle; 
}
hr.black_line {
    border-top: 3px solid black;
}
/*搜尋列*/
::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 60%;
  height: 85px;;
  background: #fff;
  border-radius: 10px;
  padding: 0px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
  margin-bottom: 10px;
  margin-top: 10px;
} 
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.content {
    height: 55%;
  padding-top: 0; 
  margin-top: 0; 
}
.details{
    margin-top: 5px;
    padding-top: 0; 
    height: auto;
}
.button_container{
    width:28%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 將兩個按鈕推到容器的兩側 */
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}
.wname{
    position: absolute;
    font-size: 25px;
    left: 135px;
    top: 37px;
    z-index: 1;
}
#toggle-btn {
    position: absolute;
    top: 37px;
    right: 93px;
    background-color: rgb(44, 43, 83);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    z-index: 1;
}
/*主頁*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 91, 91, 0.582);
    pointer-events: none;
    display: none;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.wrap{
    width:100%;
    height:100%;
    margin: 0;
    padding-bottom: 10vh;
}
.body_container {
  display: flex;
  float: left;
  flex-direction: column; /* 讓元素由上到下排列 */
  width: calc(100vw - 85px);
  min-height:100vh;
  overflow-y: hidden;
  margin-left: 85px;
  background-color: #94785A; 
  color: #fff;
  z-index: 2;
}
.Header{
    height:14%;
    width:100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #94785A; 
    color: #fff;
}
.Footer{
    height:10vh;
    width:100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; /* 強制換行 */
    align-items: center;
    background-color: #94785A; 
    color: #fff;
}
.Leftbar{
    background-color:  #F6F5F3; 
    color: #fff;
    width:85px;
    height:100%;
    display: flex;
    flex-direction: column; /* 讓元素由上到下排列 */
    float:left;
    position: fixed;
    z-index: 3;
    white-space: nowrap;
    overflow-x: hidden;
    transition: 0.5s;
}
.Rightbar{
    background:gray;
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 999;
}
.Body{
    background-color: #E0D9D3; 
    color: #000;
    min-height:80vh;
    display: flex;
    float:left;
    width: 100%;
    overflow: auto;
    padding-top: 8px;
    padding-left: 20px;
    z-index: 2;
}

/* itinerarys block decorations */
.itinerarys {   
    padding-left: 5%;
}
.itinerarys .blocks{
    background-color: white;
    border-radius: 10px;
    width: 45%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;/*滑鼠在容器上時變更滑鼠圖示 */
    float: left;/*容器向左對齊 */
    margin-right: 2%;
    position: relative;
}

.itinerarys:nth-child(3n) {
    margin-right: 0;
}
.itinerarys .itinerary-info-details {
    position: relative; 
    margin: 0;
    padding: 0;
}
.image_container2{ /*主頁面照片容器 */
    margin: 0% 0% 0% 0%;
    padding-left: 10%;
    height:70%;
    width:90%;
    position: relative; 
    /* padding-bottom: 56.75%; 內邊距長對寬的比例，16:9 */ 
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* width: 90%;
    max-width: 1200px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box; */
}
.itinerarys h3, p { /*主頁面景點名稱 */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
}
.itinerarys img { /*主頁面照片 */
    overflow: hidden;
    position: relative;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    max-height:100%;
    max-width:100%;
    width: 30%;
    height: 30%;
    /* margin: 0 5px; */
    object-fit: contain;
}

.blocks h3, .blocks p{
    color: black;
}

.hide {
    display: none !important;
  }

#Body_Attraction {
    display: block;
}

#Body_Itinerary {
    display: none;
}