.wrap{
    width:100%;
    height:100%;
    margin: 0;
    padding-bottom: 10%;
}
.body_container {
    display: flex;
    float: left;
    flex-direction: column; /* 讓元素由上到下排列 */
    width:94%;
    margin-left: 6%;
    max-height: 100%;
  }
  .Leftbar{
    background-color: rgba(115, 199, 255);
    width:6%;
    height:100%;
    display: flex;
    flex-direction: column; /* 讓元素由上到下排列 */
    float:left;
    z-index: 1;
    white-space: nowrap;
    overflow-x: hidden;
    transition: 0.3s;
    position: absolute;
    left: 0;
    margin: 0;
}
.Footer{
    height:10%;
    width:100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; /* 強制換行 */
    align-items: center;
    background-color: #4e9fda;
    position: absolute;
    bottom: 0;
}
hr.black_line {
    border-top: 3px solid black;
}
.Leftbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.Leftbar a:hover {
    color: #f1f1f1;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    margin-top: 10px;
}

.pfp {
    vertical-align: middle; 
}